@import url("https://fonts.googleapis.com/css?family=Righteous|Roboto&display=swap");

/* font-family: 'Roboto', sans-serif;
font-family: 'Righteous', cursive; */

:root {
  --main-background-color: rgb(54, 61, 121);
  --primary-text: #fff;
  --text-shadow-primary: rgb(116, 184, 189);
  --text-shadow-secondary: rgb(228, 36, 249);
  --link-color: rgb(55, 241, 238);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background-color);
  color: white;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", cursive;
  color: var(--primary-text);
}

h1 {
  letter-spacing: 3px;
  font-size: 4.5em;
  text-shadow: 5px 5px var(--text-shadow-primary),
    -3px -3px var(--text-shadow-secondary);
}

p {
  font-size: 1.25em;
}
